@use "@styles/utilities-deprecated";

.title {
  height: 0;
  overflow: hidden;
}

.section {
  padding-inline: 1rem;
  padding-bottom: 3rem;
}

.sectionTitle {
  margin-bottom: 2rem;
}

.mesuresJeunesSection {
  background-color: utilities-deprecated.$color-background-white-lilac;
}
